In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Get the Goodreads data.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/cs109/2015lab1/master/all.csv',header = None,
                 names=["rating", 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name'])

In [3]:
df.head(2)

,rating,review_count,isbn,booktype,author_url,year,genre_urls,dir,rating_count,name
0,4.40,136455,0439023483,good_reads:book,https://www.goodreads.com/author/show/153394.S...,2008.0,/genres/young-adult|/genres/science-fiction|/g...,dir01/2767052-the-hunger-games.html,2958974,"The Hunger Games (The Hunger Games, #1)"
1,4.41,16648,0439358078,good_reads:book,https://www.goodreads.com/author/show/1077326....,2003.0,/genres/fantasy|/genres/young-adult|/genres/fi...,dir01/2.Harry_Potter_and_the_Order_of_the_Phoe...,1284478,Harry Potter and the Order of the Phoenix (Har...

Get the column types.

In [4]:
df.dtypes

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

Get the shape of the dataframe

In [5]:
df.shape

(6000, 10)

Get the column names for our dataframe.

In [6]:
df.columns

Index(['rating', 'review_count', 'isbn', 'booktype', 'author_url', 'year',
       'genre_urls', 'dir', 'rating_count', 'name'],
      dtype='object')

Filtering and Querying

In [7]:
df['rating'] < 3

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
5970    False
5971    False
5972    False
5973    False
5974    False
5975    False
5976    False
5977    False
5978    False
5979     True
5980    False
5981    False
5982    False
5983    False
5984    False
5985    False
5986    False
5987    False
5988    False
5989    False
5990    False
5991    False
5992    False
5993    False
5994    False
5995    False
5996    False
5997    False
5998    False
5999    False
Name: rating, Length: 6000, dtype: bool

In [8]:
np.sum(df['rating'] < 3)

4

To finf all the books with ratings above 4.5.

In [9]:
# Showing only the head
df.query('rating > 4.5').head()

,rating,review_count,isbn,booktype,author_url,year,genre_urls,dir,rating_count,name
17,4.58,1314,0345538374,good_reads:book,https://www.goodreads.com/author/show/656983.J...,1973.0,/genres/fantasy|/genres/classics|/genres/scien...,dir01/30.J_R_R_Tolkien_4_Book_Boxed_Set.html,68495,J.R.R. Tolkien 4-Book Boxed Set
162,4.55,15777,075640407X,good_reads:book,https://www.goodreads.com/author/show/108424.P...,2007.0,/genres/fantasy|/genres/fiction,dir02/186074.The_Name_of_the_Wind.html,210018,The Name of the Wind (The Kingkiller Chronicle...
222,4.53,15256,055357342X,good_reads:book,https://www.goodreads.com/author/show/346732.G...,2000.0,/genres/fantasy|/genres/fiction|/genres/fantas...,dir03/62291.A_Storm_of_Swords.html,327992,"A Storm of Swords (A Song of Ice and Fire, #3)"
242,4.53,5404,0545265355,good_reads:book,https://www.goodreads.com/author/show/153394.S...,2010.0,/genres/young-adult|/genres/fiction|/genres/fa...,dir03/7938275-the-hunger-games-trilogy-boxset....,102330,The Hunger Games Trilogy Boxset (The Hunger Ga...
249,4.80,644,0740748475,good_reads:book,https://www.goodreads.com/author/show/13778.Bi...,2005.0,/genres/sequential-art|/genres/comics|/genres/...,dir03/24812.The_Complete_Calvin_and_Hobbes.html,22674,The Complete Calvin and Hobbes

Or we can use the mask and use it to index the dataframe.

In [10]:
# showing the head
(df[df['rating'] > 4.5]).head()

,rating,review_count,isbn,booktype,author_url,year,genre_urls,dir,rating_count,name
17,4.58,1314,0345538374,good_reads:book,https://www.goodreads.com/author/show/656983.J...,1973.0,/genres/fantasy|/genres/classics|/genres/scien...,dir01/30.J_R_R_Tolkien_4_Book_Boxed_Set.html,68495,J.R.R. Tolkien 4-Book Boxed Set
162,4.55,15777,075640407X,good_reads:book,https://www.goodreads.com/author/show/108424.P...,2007.0,/genres/fantasy|/genres/fiction,dir02/186074.The_Name_of_the_Wind.html,210018,The Name of the Wind (The Kingkiller Chronicle...
222,4.53,15256,055357342X,good_reads:book,https://www.goodreads.com/author/show/346732.G...,2000.0,/genres/fantasy|/genres/fiction|/genres/fantas...,dir03/62291.A_Storm_of_Swords.html,327992,"A Storm of Swords (A Song of Ice and Fire, #3)"
242,4.53,5404,0545265355,good_reads:book,https://www.goodreads.com/author/show/153394.S...,2010.0,/genres/young-adult|/genres/fiction|/genres/fa...,dir03/7938275-the-hunger-games-trilogy-boxset....,102330,The Hunger Games Trilogy Boxset (The Hunger Ga...
249,4.80,644,0740748475,good_reads:book,https://www.goodreads.com/author/show/13778.Bi...,2005.0,/genres/sequential-art|/genres/comics|/genres/...,dir03/24812.The_Complete_Calvin_and_Hobbes.html,22674,The Complete Calvin and Hobbes

Combine the filters.

Find the books with year greater than 2010 and ratings above 4.5

In [11]:
(df[(df['year'] > 2010) & (df['rating'] > 4.5)]).head()

,rating,review_count,isbn,booktype,author_url,year,genre_urls,dir,rating_count,name
284,4.58,15195,1406321346,good_reads:book,https://www.goodreads.com/author/show/150038.C...,2013.0,/genres/fantasy|/genres/young-adult|/genres/fa...,dir03/18335634-clockwork-princess.html,130161,"Clockwork Princess (The Infernal Devices, #3)"
386,4.55,8820,0756404738,good_reads:book,https://www.goodreads.com/author/show/108424.P...,2011.0,/genres/fantasy|/genres/fantasy|/genres/epic-f...,dir04/1215032.The_Wise_Man_s_Fear.html,142499,"The Wise Man's Fear (The Kingkiller Chronicle,..."
400,4.53,9292,1423140605,good_reads:book,https://www.goodreads.com/author/show/15872.Ri...,2012.0,/genres/fantasy|/genres/young-adult|/genres/fa...,dir05/12127750-the-mark-of-athena.html,128412,"The Mark of Athena (The Heroes of Olympus, #3)"
554,4.54,4809,0385341679,good_reads:book,https://www.goodreads.com/author/show/48206.Ka...,2011.0,/genres/fantasy|/genres/urban-fantasy|/genres/...,dir06/7304203-shadowfever.html,52812,"Shadowfever (Fever, #5)"
620,4.54,7767,1423146727,good_reads:book,https://www.goodreads.com/author/show/15872.Ri...,2013.0,/genres/fantasy|/genres/young-adult|/genres/fa...,dir07/12127810-the-house-of-hades.html,72082,"The House of Hades (The Heroes of Olympus, #4)"

In [12]:
df.dtypes

rating          float64
review_count     object
isbn             object
booktype         object
author_url       object
year            float64
genre_urls       object
dir              object
rating_count     object
name             object
dtype: object

In [13]:
df['rating_count'].astype(int)

ValueError: invalid literal for int() with base 10: 'None'

The error is caused because our data contains `None` values. We can locate them using the below code.

In [ ]:
df[df['rating_count'] == 'None']

We will build the dataframe again, and exclude the `None` values

In [ ]:
df = df[df['rating_count'] != 'None']

In [ ]:
df['rating_count'] = df['rating_count'].astype(int)
df['review_count'] = df['review_count'].astype(int)

In [ ]:
df['year'] = df['year'].astype(int)

Looks like we still have some `NaN` values

In [ ]:
df['year'].isnull().sum()

There are 5 `NaN` values

In [ ]:
df[df['year'].isnull()]

In [ ]:
df.shape

To see all the missing values we can use the below commands.

In [ ]:
print("Number of missing values for each column")

df.isnull().sum()

In [ ]:
print("Number of missing values for each column")
print("")
for i, j in df.items():
    
    print(f"{i}  ---> {df[i].isnull().sum()}")

For now we will remove only the year column with missing values. We can remove these 5 rows, by using the `dropna()` method.

In [ ]:
df = df[df['year'].notnull()]

In [ ]:
df.shape

Now we can assign the year column as `int`

In [ ]:
df['year'] = df.loc[:,'year'].astype(int)

In [ ]:
df.dtypes

Visualization

In [ ]:
df['rating'].hist()

In [ ]:
sns.set_style('whitegrid')

In [ ]:
# Changing the bins
df['rating'].hist(bins = 30)

In [ ]:
mean_rating = df['rating'].mean()

In [ ]:
mean_rating

In [ ]:
plt.figure()
df['rating'].hist(bins = 30)
plt.axvline(mean_rating, color = 'r', label = 'Mean Ratings')
plt.xlabel("Average rating of book")
plt.ylabel("Counts")
plt.title("Ratings Histogram")
plt.legend()

In [ ]:
df['review_count'].hist(bins=np.arange(0, 40000, 400))

In [ ]:
df['review_count'].hist(bins = 500)
plt.xscale('log')

In [ ]:
plt.scatter(df['year'], df['rating'], alpha = 0.08)
plt.xlim([1900,2010])
plt.xlabel("Year")
plt.ylabel("Rating")